﻿@model RazorCRUD.Models.Entidade.Setor

@{
    ViewData["Title"] = "Deletar";
}

<h3>Deseja realmente excluir o registro?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Voltar", "Index", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-dark" })
    </form>
</div>
