﻿@model RazorCRUD.Models.Entidade.Setor

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Details</h1>

<div>
    <h4>Setor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar", "Index", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-dark" })

</div>
