﻿@model IEnumerable<RazorCRUD.Models.Entidade.Setor>

@{
    ViewData["Title"] = "Index";
}

<div class="text-right">
    <p>
        @Html.ActionLink("Adicionar", "Create", new {/* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id/* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
