﻿@model RazorCRUD.Models.Entidade.Funcionario

@{
    ViewData["Title"] = "Deletar";
}

<h3>Deseja realmente excluir o registro?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.Cargo)*@

            @if (Model.Cargo == 1)
            {
                <label>Gestor</label>
            }
            else if (Model.Cargo == 2)
            {
                <label>DBA</label>
            }
            else if (Model.Cargo == 3)
            {
                <label>Especialista</label>
            }
            else if (Model.Cargo == 4)
            {
                <label>Programador</label>
            }
            else if (Model.Cargo == 5)
            {
                <label>Trainee</label>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Voltar", "Index", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-dark" })
    </form>
</div>
