﻿@model IEnumerable<RazorCRUD.Models.Entidade.Funcionario>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@
<div class="text-right">
    <p>
        @Html.ActionLink("Adicionar", "Create", new {/* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                

                @if (item.Cargo == 1)
                {
                    <label>Gestor</label>
                }
                else if (item.Cargo == 2)
                {
                    <label>DBA</label>
                }
                else if (item.Cargo == 3)
                {
                    <label>Especialista</label>
                }
                else if (item.Cargo == 4)
                {
                    <label>Programador</label>
                }
                else if (item.Cargo == 5)
                {
                    <label>Trainee</label>
                }
            </td>
            <td class="text-right">
                @Html.ActionLink("Editar", "Edit", new { id = item.Id/* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })


            </td>
        </tr>
}
    </tbody>
</table>
